
<!--carousel-->
<div id="carouselExampleControls" class="carousel slide mt-5 " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/a1.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/a2.jpg" class="d-block"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/a3.jpg" class="d-block"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/a4.jpg" class="d-block"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/a5.jpg" class="d-block"  alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--end of carousel-->



<div class="w3-container">
<a>implementing top website design tips, 
    the site hierarchy is crystal clear. 
    It is easy to see which elements are the first to draw our attention,
     so that the most significant features do not go unnoticed. 
     This is achieved through variation in text size, 
     like larger headers, as well as text weight, 
     such as bold call-to-action text.</a><br><br>
     <a>Please Login to take the Online Test</a>
     <div ><button class="btn btn-primary" (click)="onClick()">Login</button>
        </div>
</div>     
